.DevNavBar {
	padding: 40px;
}

.DevNavBar_Item1 {
	padding: 20px;
	width: fit-content;
	cursor: pointer;
	position: relative;
}

.DevNavBar_Item1:hover {
	color: red;
}

.DevNavBar_Item1_HiddenMenu {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: white;
	z-index: 10;
	left: 0;
	top: 70px;
}

.DevNavBar_Item1:focus {
	color: red; // this is so that when Nav Item is opened, color stays red
}

.DevNavBar_Item1:focus-within .DevNavBar_Item1_HiddenMenu {
	display: block;
	color: black; // this is to remove Bubbling, otherwise it will be RED, like the hover effect
}
