@import "./../../variables";

.IndependentIE_SectionTitleContainer {
	margin-left: auto;
	margin-right: auto;
	color: black;
	transition: color 0.5s ease;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 2px solid black;
	padding-bottom: 17px;
	margin-bottom: -17px;
}

.IndependentIE_SectionTitleContainer--WhiteColor {
	color: white;
	border-bottom: 2px solid white !important;
}

.IndependentIE_SectionTitleContainer:hover {
	color: gray;
}

.IndependentIE_SectionTitleContainer_Title {
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
}

.IndependentIE_SectionTitleContainer_Title--Medium {
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
}

.IndependentIE_SectionTitleContainer_More {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
