.IndependentIE_SubscribeNewsLetterSection {
	background-color: lightgray;
	height: 243px;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv {
	display: flex;
}

// image
.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Img {
	width: 20%;
	height: 243px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Img img {
	width: 70%;
}

// text
.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_H1 {
	margin-bottom: 6px;
	font-size: 32px;
	line-height: 40px;
	font-weight: 500;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_H2 {
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_EmailBox {
	display: flex;
	column-gap: 12px;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_EmailBox input {
	padding: 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	outline: none;
	border: 1px solid black;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_EmailBox input:focus {
	box-shadow: rgba(211, 211, 211, 0.25) 0px 30px 60px -12px inset,
		rgba(211, 211, 211, 0.25) 0px 18px 36px -18px inset;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_EmailBox button {
	border-radius: 5px;
	background-color: black;
	color: white;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 88px;
	height: 44px;
	cursor: pointer;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_EmailBox button:hover {
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
		rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
		rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_ErrorBox {
	font-size: 13px;
	line-height: 16px;
	font-weight: 600;
	color: red;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_EmailBox_Input {
	color: red;
	border: 1px solid red;
}

.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_ErrorBox_Empty {
	height: 20px;
}

// bootstrap media queries
@media all and (max-width: 1023px) {
	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Img {
		width: 181px;
	}

	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Img img {
		width: 144px;
	}
}

@media all and (max-width: 599px) {
	.IndependentIE_SubscribeNewsLetterSection {
		height: 221px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.IndependentIE_SubscribeNewsLetterSection_InnerDiv {
		column-gap: 20px;
	}

	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Img {
		width: 69px;
		justify-content: flex-start;
		align-items: flex-start;
		height: fit-content;
	}

	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Img img {
		width: 61px;
	}

	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_H1 {
		font-size: 20px;
		line-height: 25px;
		font-weight: 500;
	}

	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_H2 {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
	}
}

@media all and (max-width: 499px) {
	.IndependentIE_SubscribeNewsLetterSection {
		height: 243px;
	}

	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_EmailBox,
	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_ErrorBox,
	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_ErrorBox_Empty {
		position: relative;
		left: -90px;
		top: 5px;
	}
}

@media all and (max-width: 379px) {
	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_H2 {
		margin-bottom: 12px;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
	}

	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_EmailBox,
	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_ErrorBox,
	.IndependentIE_SubscribeNewsLetterSection_InnerDiv_Text_ErrorBox_Empty {
		top: 10px;
	}
}
