$button-blue: rgb(44, 75, 255);

.container {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

// -----------------------------------------------
// TOP BLUE BANNER STYLING
// -----------------------------------------------

.topBlueBanner {
	background-color: rgb(107, 129, 255);
	color: white;
	text-align: center;
	padding: 10px;
}

.bannerContainer {
	padding: 10px 16px;
}

.marginSides {
	margin-left: 10px;
	margin-right: 10px;
}

.FindOutMoreLink {
	color: white;
}

// -----------------------------------------------
// NAVBAR STYLING
// -----------------------------------------------

.bufferHeader {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	margin: 0px auto;
	max-width: 1248px;
	padding: 20px;
	z-index: 999;
	position: sticky;
	top: 0px;
	transition: transform 350ms ease-out 0s, box-shadow 350ms ease-out 0s;
	background-color: rgb(255, 255, 255);
	transform: translateY(-118px);
	box-shadow: none;
}

.bufferHeader-at-top {
	@extend .bufferHeader;
	transform: translateY(0px);
	box-shadow: none;
}

.bufferHeader-is-active {
	@extend .bufferHeader;
	transform: translateY(0px);
	box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px;
}

.dropDownMenu {
	font-size: 18px;
	color: rgb(35, 31, 32);
	text-decoration: none;
	font-weight: 400;
	margin: 0px 10px;
	padding: 0px 4px;
	position: relative;
	z-index: 99;
	cursor: pointer;
}

@media (max-width: 1210px) {
	.dropDownMenu {
		display: none;
	}
}

.bi-chevron-down {
	margin-left: 5px;
}

.hamIcon {
	cursor: pointer;
	margin-left: 10px;
	font-size: 2em;
	position: relative;
	top: 5px;
}

@media (min-width: 1210px) {
	.hamIcon {
		display: none;
	}
}

.navSpan {
	padding: 40px;
	position: relative;
}

.navSpan:hover {
	color: $button-blue;
}

@media (max-width: 1300px) {
	.navSpan {
		padding: 20px;
	}
}

.navBlueLineHover {
	border-bottom: 0px solid $button-blue;
	width: 0px;
	height: 0px;
	position: absolute;
	display: block;
	left: calc(50% - 10px);
	top: 70%;
	transition: 0.1s ease-out;
}

.navSpan:hover > .navBlueLineHover {
	height: 5px;
	border-bottom: 5px solid $button-blue;
	width: 20px;
}

.logInSpanNav {
	color: $button-blue;
	cursor: pointer;
	margin-right: 10px;
}

.logInSpanNav:hover {
	text-decoration: underline;
}

@media (max-width: 660px) {
	.logInSpanNav {
		display: none;
	}
}

.blueStandardButton {
	background-color: $button-blue;
	color: white;
	padding: 15px 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.blueStandardButtonMobile {
	@extend .blueStandardButton;
}

@media (max-width: 660px) {
	.blueStandardButtonMobile {
		padding: 10px 10px;
	}
}

.blueStandardButton:hover {
	background-color: darkblue;
}

@media all and (min-width: 800px) {
	.test1 > h1 {
		color: red;
	}
}

.navItemsDropDownHolderDiv {
	position: absolute;
	top: 100px;
	overflow: hidden;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.26s ease;
	box-shadow: rgba(35, 31, 32, 0.2) 0px 0px 20px;
}

.navTools:hover > .navItemsDropDownHolderDiv {
	transform: scaleY(1);
}

.Buffer_index_mini_popup_navbar_container {
	position: absolute;
	right: 0;
	z-index: 10000;
	background-color: white;
	top: -59px;
	width: 0%;
	height: 100vh;
	transition: 0.5s ease;
	overflow-x: hidden;
}

.Buffer_index_mini_popup_navbar_container_active {
	width: 100%;
	overflow-x: hidden;
}

.buffer_index_hide_scroll {
	max-height: 100vh;
	overflow: hidden;
}

// -----------------------------------------------
// HAPPY PERSON STYLING
// -----------------------------------------------

.Buffer_index_happy_container {
	box-sizing: border-box;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 1186px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 35px;
	padding-right: 35px;
}

.Buffer_index_happy_container_inner {
	display: flex;
}

.Buffer_index_happy_container_inner_box1_text {
	width: 50%;
	height: 400px;
	padding-right: 30px;
	display: flex;
	justify-content: start;
	align-items: center;
}

@media all and (max-width: 900px) {
	.Buffer_index_happy_container_inner {
		display: flex;
		flex-direction: column;
	}

	.Buffer_index_happy_container_inner_box1_text {
		width: 100%;
	}
}

.Buffer_index_happy_container_inner_box1_text_mini_container {
}

// HEADING

.Buffer_index_happy_container_inner_box1_text_mini_container_heading {
	font-size: 48px;
	line-height: 64px;
	text-align: left;
	letter-spacing: 0.1px;
	font-weight: bold;
	margin: 0px 0px 1.875rem;
}

@media all and (max-width: 900px) {
	.Buffer_index_happy_container_inner_box1_text_mini_container_heading {
		text-align: center;
	}
}

// PARAGRAPH

.Buffer_index_happy_container_inner_box1_text_mini_container_paragraph {
	margin-bottom: 2.3em;
	font-size: 1.225rem;
	line-height: 1.9;
	margin: 0px 0px 2.25rem;
	text-align: left;
	letter-spacing: 0.1px;
}

@media all and (max-width: 900px) {
	.Buffer_index_happy_container_inner_box1_text_mini_container_paragraph {
		text-align: center;
	}
}

@media all and (max-width: 1450px) {
	.Buffer_index_happy_container_inner_box1_text_mini_container_heading {
		font-size: calc(1.375rem + (1vw - 3.75px) * 1.6901);
		line-height: calc(2rem + (1vw - 3.75px) * 2.2535);
	}

	.Buffer_index_happy_container_inner_box1_text_mini_container_paragraph {
		font-size: calc(0.5rem + (1vw - 3.75px) * 1.6901);
		line-height: calc(0.7rem + (1vw - 3.75px) * 2.2535);
	}
}

@media all and (max-width: 700px) {
	.Buffer_index_happy_container_inner_box1_text_mini_container_paragraph {
		font-size: 16px;
		line-height: 26px;
	}
}

@media all and (max-width: 550px) {
	.Buffer_index_happy_container_inner_box1_text_mini_container_paragraph {
		font-size: 14px;
		line-height: 22px;
	}
}

// BUTTON HOLDER CONTAINER

.Buffer_index_happy_container_inner_box1_text_mini_container_button_holder {
	display: flex;
}

@media all and (max-width: 900px) {
	.Buffer_index_happy_container_inner_box1_text_mini_container_button_holder {
		flex-direction: column;
	}
}

// BLUE BUTTON
.Buffer_index_happy_container_inner_box1_text_mini_container_button_holder_blue_button {
	margin-right: 20px;
	font-size: 18px;
	outline: none;
	border: none;
	line-height: 2.6;
	font-weight: 400;
	border-radius: 5px;
	letter-spacing: 0.3px;
	cursor: pointer;
	transition-duration: 0.1s;
	height: 48px;
	padding: 0px 24px;
	background-color: rgb(44, 75, 255);
	color: rgb(255, 255, 255);
}

.Buffer_index_happy_container_inner_box1_text_mini_container_button_holder_blue_button:hover {
	background-color: rgb(31, 53, 179);
	transition-property: background-color, border-color, color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
}

@media all and (max-width: 900px) {
	.Buffer_index_happy_container_inner_box1_text_mini_container_button_holder_blue_button {
		max-width: 180px;
		margin-bottom: 15px;
		align-self: center;
	}
}

// WHITE BUTTON

.Buffer_index_happy_container_inner_box1_text_mini_container_button_holder_white_button {
	margin-right: 20px;
	font-size: 18px;
	outline: none;
	line-height: 2.6;
	font-weight: 400;
	border-radius: 5px;
	letter-spacing: 0.3px;
	cursor: pointer;
	transition-duration: 0.1s;
	height: 48px;
	padding: 0px 24px;
	border: 2px solid rgb(44, 75, 255);
	background-color: transparent;
	color: rgb(44, 75, 255);
	overflow: hidden;
}

.Buffer_index_happy_container_inner_box1_text_mini_container_button_holder_white_button:hover {
	transition-property: background-color, border-color, color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	background-color: lightblue;
}

@media all and (max-width: 900px) {
	.Buffer_index_happy_container_inner_box1_text_mini_container_button_holder_white_button {
		min-width: 180px;
		align-self: center;
	}
}

// IMAGE

.Buffer_index_happy_container_inner_box2_image {
	width: 50%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media all and (max-width: 900px) {
	.Buffer_index_happy_container_inner_box2_image {
		width: 100%;
		height: auto;
	}
}

.Buffer_index_happy_container_inner_box2_image_holder_div {
	max-width: 100%;
	aspect-ratio: 745/768;
	height: 100%;
}
