//********************************************************************
//         GENERAL CLASSES
// *******************************************************************
.IndependentIE_CookiesAgreeDisagreeComponent_InfoText {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.IndependentIE_MinHeight_1675313928 {
	min-height: 36px;
}

.IndependentIE_MarginTop15px_1675316671 {
	margin-top: 15px;
}

.IndependentIE_MarginTop7px_1675316671 {
	margin-top: 7px;
}

.IndependentIE_CookiesAgreeDisagreeComponent button:focus,
.IndependentIE_CookiesAgreeDisagreeComponent button:active {
	outline: 1px solid blue;
	border: 1px solid blue;
	border-radius: 2px;
}

//********************************************************************
//          WHOLE CONTAINER
// *******************************************************************
.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox {
	display: flex;
	justify-content: space-between;
	// column-gap: 20px;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox--Columns {
	flex-direction: column;
	column-gap: none;
	row-gap: 5px;
}

//********************************************************************
//          Dropdown plus and minus button, Heading text
// *******************************************************************

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_TextBox {
	cursor: pointer;
	outline: none;
	background-color: white;
	border-radius: 5px;
	width: fit-content;
	height: auto;
	border: 2px solid transparent;
	text-align: left;
	max-width: 67%;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_TextBox:focus {
	border: 2px solid blue;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_TextBox_Btn {
	outline: none;
	background-color: white;
	// border: none;
	font-size: 15px;
	line-height: 22px;
	font-weight: 700;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_TextBox_Heading {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	padding: 3px 0px;
}

//********************************************************************
//          Dropdown box with Info in it
// *******************************************************************

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown {
	height: 0;
	width: 0px;
	overflow: hidden;
	transform: scaleY(0);
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown_InfoText {
	@extend .IndependentIE_CookiesAgreeDisagreeComponent_InfoText;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown--Opened {
	height: auto;
	width: 100%;
	transform: scaleY(1);
	transition: transform 0.2s ease-out;
	transform-origin: top;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown_InfoIcon {
	cursor: help;
	background: transparent;
	border: none !important;
	font-size: 1.15em;
	outline: none !important;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown_ToolTipText {
	white-space: pre-line;
	border: 1px solid gray;
	background-color: lightgray;
	padding: 4px;
	font-size: 11px;
	line-height: 14px;
	font-weight: 400;
	margin: 5px 0px;
	display: none;
	max-height: 75px;
	overflow: auto;
}

// .IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown_InfoIcon:focus {
// 	margin-bottom: 80px;
// }

// .IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown_InfoIcon:focus
// 	> .IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown_ToolTipText {
// 	display: block;
// }

.IndependentIE_CookiesModal_DropDownFix_1675391910 {
	display: inline;
}

.IndependentIE_CookiesModal_DropDownFix_1675391910:focus-within
	> .IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown_ToolTipText {
	display: block;
}

//********************************************************************
//          AGREE AND DISAGREE buttons
// *******************************************************************

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_ButtonsBox {
	display: flex;
	column-gap: 5px;
	align-items: flex-start;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_ButtonsBox--FlexEnd {
	justify-content: flex-end;
	align-items: center;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_ButtonsBox_ConsentText {
	@extend .IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_TextBox_Heading;
	margin-right: 10px;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_ButtonsBox
	button {
	background-color: white;
	outline: none;
	border: 1px solid gray;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_ButtonsBox
	button:hover {
	border: 1px solid black;
}

.IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_ButtonsBox
	button
	span {
	margin-right: 5px;
}

.IndependentIE_SettingsModal_MainBox_ViewPartnerBox_Btn--agree {
	color: white;
	border: 1px solid black;
	background-color: green !important;
}

.IndependentIE_SettingsModal_MainBox_ViewPartnerBox_Btn--disagree {
	color: white;
	border: 1px solid black;
	background-color: red !important;
}

//********************************************************************
//          EXTRA ITEMS
// *******************************************************************
.IndependentIE_CookiesAgreeDisagreeComponent_ExtraItemsFullComponent {
	.InnerWholeWrapper {
		// MAIN HEADING BOX
		.MainHeadingAndAgreeDisagreeButtonsBox {
			display: flex;
			column-gap: 25px;
			justify-content: space-between;

			.Box1_MainHeadingAndToggleButton {
				@extend .IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_TextBox;
			}

			.Box1_MainHeadingAndToggleButton span {
				@extend .IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_TextBox_Btn;
			}

			.Box1_MainHeadingAndToggleButton div {
				display: inline;
				@extend .IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_TextBox_Heading;
			}
		}

		// MAIN DROPOUT BOX
		.DropOutExtraItemsMainWrapper {
			transform: scaleY(0);
			height: 0px;
			transition: transform 0.2s ease-out;
			transform-origin: top;
			overflow: hidden;
		}

		.DropOutExtraItemsMainWrapper--Open {
			transform: scaleY(1);
			height: fit-content;
			padding: 10px 5px 10px 10px;

			.InnerBox {
				padding: 5px 0px 5px 10px;
				border-left: 1px solid lightgray;

				.InfoText {
					@extend .IndependentIE_CookiesAgreeDisagreeComponent_InfoText;
					line-height: 20px;
				}

				.ExtraItemsContainer {
					margin-top: 15px;
					.SingleItemContainer {
						.MainHeadingAndAgreeDisagreeButtonsBox--ExtraItems {
							@extend .MainHeadingAndAgreeDisagreeButtonsBox;
							display: flex;
							justify-content: space-between;

							// end of .MainHeadingAndAgreeDisagreeButtonsBox--ExtraItems
						}
						// end of SingleItemContainer
					}

					// end of ExtraItemsContainer
				}

				// end of InnerBox
			}

			// end of DropOutExtraItemsMainWrapper--Open
		}

		// end of InnerWholeWrapper
	}
	// end of IndependentIE_CookiesAgreeDisagreeComponent_ExtraItemsFullComponent
}

.IndependentIE_SingleItemContainer_DropOutContainer {
	transform: scaleY(0);
	height: 0px;
	transition: transform 0.2s ease-out;
	transform-origin: top;
	overflow: hidden;
}

.IndependentIE_SingleItemContainer_DropOutContainer--Open {
	transform: scaleY(1);
	height: fit-content;
}

.IndependentIE_SingleItemContainer_DropOutContainer_InfoBox span {
	@extend .IndependentIE_CookiesAgreeDisagreeComponent_InfoText;
}

.IndependentIE_SingleItemContainer_DropOutContainer_InfoBox_InfoIcon {
	@extend .IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown_InfoIcon;
}

.IndependentIE_SingleItemContainer_DropOutContainer_InfoBox_ToolTipBox {
	@extend .IndependentIE_CookiesAgreeDisagreeComponent_TextAndButtonsBox_Dropdown_ToolTipText;
}

.IndependentIE_SingleItemContainer_DropOutContainer_InfoBox_InfoIcon:focus
	~ .IndependentIE_SingleItemContainer_DropOutContainer_InfoBox_ToolTipBox {
	display: block;
}
