.navPopUpMenu {
	// visibility: hidden;
	// height: 0px;
	// position: absolute;
	// z-index: 999px;
	background-color: white;
	top: 100px;
	border-radius: 10px;
	padding: 10px;
	color: black;
	box-shadow: rgba(35, 31, 32, 0.2) 0px 0px 20px;
	transition: 0.25s ease;
	overflow: hidden;
	width: 286px;
	display: flex;
	flex-direction: column;
}

// .navTools:hover > .navPopUpMenuTools {
// 	visibility: visible;
// 	height: 630px;
// }

.navInternalMenuBox {
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	gap: 14px;
	padding: 6px;
	border-radius: 8px;
	transition: background-color 200ms ease-out 0s;
	margin: 0px;
	font-size: 1rem;
	color: black;
	text-decoration: none;
	letter-spacing: 0.5px;
	width: 100%;
	cursor: pointer;
}

.navInternalMenuBox:hover {
	background-color: rgb(245, 245, 245);
	outline: rgb(66, 153, 225) solid 1px !important;
}

.iconHolderInnerNav {
	position: relative;
	top: 20px;
}
